[v-cloak] {
    display: none;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:oldlace;
}

#app {
    height: 90%;
    display: flex;
    flex-flow: column nowrap;
}

#content {
    border: 1px solid black;
    height: 60%;
}

#board {
    background-color:cornsilk
}

.square {
    fill: black;
}

.active_square {
    fill:yellowgreen;
}

.white_stone {
    fill: white;
}

.black_stone {
    fill: rgb(78, 78, 78);
    border-color: white;
    border-radius: 1px;
}

.active_stone {
    stroke: yellow;
    stroke-width: 2px;
}

.title {
    margin-top: 1%;;
}

.centered {
    align-self: center;
}

.alert {
    font-weight: bold;
    color: red;
}

.info {
    font-weight: bold;
    color: green;
}