<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkers</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- Development version -->
    <!-- <script src="./lib/vue.js"></script> -->
    <!-- Production version -->
    <script src="./lib/vue.min.js"></script>
    <script src="js/main.js" defer></script>

</head>
<body [v-cloak]>
    <div id="app">
        <div class="title centered">
            
            <h1 >Checkers</h1>
            <template v-if="!game_started">
                <p>
                    Rules:
                    <ol>
                        <li>White begins</li>
                        <li>The player that captured the most stones wins</li>
                        <li>Backward moves are not allowed</li>
                        <li>Capturing is mandatory (no double captures)</li>
                        <li>The game ends when a player has no moves</li>
                    </ol> 
                    Click the board to start
                </p>
            </template>
            <p v-else class="centered">
            White: {{ white_score }}
            <br>
            Black: {{ black_score }}
            <br>
            <span class="info" v-if="game_is_over() && white_score > black_score">
                White won
            </span>
            <span class="info" v-else-if="game_is_over() && white_score < black_score">
                Black won
            </span>
            <span class="info" v-else-if="game_is_over()">
                Nobody won.
            </span>
            </p>
        </div>
        <div id="content" class="centered">
            <div v-if="show_board">
                <svg id="board" :width=width height="100%" fill="black" @click="process_board_click">
                    <template v-model="board_state" v-for="x in range">
                        <template v-for="y in range">
                            <template v-if="is_white_square(x, y)">
                            </template>
                            <template v-else>
                                <rect :class="[is_active_square(x, y) ? 'active_square' : '', 'square']" :x="x * square_width" :y="y * square_width" width="12.5%" height="12.5%"></rect>
                            </template>
                            
                    
                            <template v-if="is_black_stone(x, y)">
                                <circle class="black_stone" :class="{active_stone: is_active_stone(x, y)}" :cx="index_to_coord(x, y).x" :cy="index_to_coord(x, y).y" r="5%"/>
                            </template>
                            <template v-else-if="is_white_stone(x, y)" v-model:board_state>
                                {{ x, y }}
                                {{ is_active_stone(x, y)}}
                                <circle :class="[is_active_stone(x, y) ? 'active_stone' : '', 'white_stone']" :cx="index_to_coord(x, y).x" :cy="index_to_coord(x, y).y" r="5%"/>
                            </template>
                        </template>
                    </template>
                </svg>
                
            </div>
            <template v-if="capture_alert">
                <br>
                <span class="alert">You must capture<span>
            </template>
        </div>
    </div>

</body>

</html>
